@import url("https://fonts.googleapis.com/css2?family=Gugi&family=Roboto:ital,wght@1,100&family=Sofia&display=swap");

:root {
  --primary-color: #45ccb8;
  --light-gray: #2b3032a1;
  --border: #2b303218;
  --text-color: #ff686b;
  --roboto: "Roboto", sans-serif;
  --gugi: "Gugi", cursive;
  --sofia: "Sofia", cursive;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  font: 1.6rem Arial;
  margin: 0%;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  color: var(--text-color);
}

button {
  font: 1.6rem  var(--roboto);
  padding: 1rem;
  border: 0.1rem var(--border) solid;
  border-radius: 0.5rem;  
  cursor: pointer;
}

button:hover {
  border: 0.1rem var(--primary-color) solid;

}

button.primary {
  background-color: #f0c040;
}

.fw {
  width: 100%;
}

.success {
  color: #40c040;
}

.error {
  color: #c04040;
}

.grid-container {
  display: grid;
  font: var(--roboto);
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 2fr 5rem;
  height: 100%;
}

header {
  grid-area: header;
  background-color: var(--primary-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

header a {
  color: var(--light-gray);
  font-weight: bold;
  text-decoration: none;
}

header a:hover {
  color: var(--text-color);
}
.brand a {
  font-size: 1.5rem;
}

footer {
  background-color: var(--border);
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
}

/* Products */

.products {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0%;
  margin: 0%;
  justify-content: center;
}

.products li {
  flex: 0 1 30rem;
  margin: 1rem;
  margin-bottom: 0%;
  height: 42rem;
  border-top: 0.2rem var(--light-gray) solid;
}

product {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.product img {
  max-width: 22rem;
  max-height: 26rem;
  margin-top: 2rem;
}

.product-name {
  line-height: 2.2rem;
}

.product-brand {
  font-size: 1.2rem;
  color: var(--light-gray);
}

.product-price {
  font-size: 2rem;
}

/* Rating*/

.rating {
  color: #ffc000;
  font-size: 1.8rem;
}

.rating span:last-child {
  color: #444444;
  font-size: 1.4rem;
}
.content {
  padding: 1rem;
}

/* Product Details */

.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info,
.details-action {
  flex: 1 1 30rem;
}

.details-info ul,
.details-action ul {
  padding: 0%;
  list-style-type: none;
}

.details-info h1 {
  font-size: 2rem;
  margin: 0%;
}

.details-info li, .details-action li {
  margin-bottom: 1rem;
}

.details-action {
  border: 0.1rem var(--border) solid;
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  padding: 1rem;
}

/* Carts */

.cart {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: var(--light-gray);
  border-radius: 0.5rem;
  padding: 0%;
}

.cart-list-container {
  padding: 1rem;
  list-style-type: none
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem #f0c4f0 solid;
}

.cart-list-container img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  align-items: flex-end;
}

.cart-name {
  flex: 1 1;
}

.cart-price {
  flex: 1 1;
  text-align: right;
}

.cart-name > div {
  padding: 1rem;
}

.cart-list h3 {
  margin: 0%;
}

.cart-list button,
.cart-list select {
  font-size: 1.3rem;
  padding: 0.5rem;
}



